* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(90deg, 
              rgba(133,67,255,1) 0%, 
              rgba(56,188,219,1) 35%, 
              rgba(14,16,97,1) 100%);
}

h1 {
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

select,
input {
  width: 300px;
  height: 30px;
  font-size: 17px;
  text-align: center; 
  margin: 5px 0 5px;
}

/* textarea {
  font-size: 17px;
  padding: 15px;
} */

button {
  width: 300px;
  height: 30px;
  font-size: 17px;
  background-color: rgb(23, 16, 150);
  border: 1px solid rgb(33, 13, 118);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin: 0 0 25px;
  cursor: pointer;
}

.container {
  width: 1350px;
  height: 100vh;
  margin: 0 auto;
  padding: 30px;
}

#canvas {
  background: #0000ff;
}

.navigation {
  display: flex;
  width: 1350px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.527);
  padding: 15px;
}

.parameters__box {
  padding: 25px;
  width: 450px;
}

.title {
  font-weight: bold;
  margin: 25px 0 5px;
}

textarea::placeholder,
input::placeholder {
  color: rgb(190, 189, 189);
  font-style: italic;
  font-size: 14px;
  text-align: center;
}

.form-figures,
.form-form-info-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reset-btn {
  margin-top: 25px;
}

.error {
  display: none;
  font-size: 14px;
  color: red;
}

.red {
  color: red;
}